bentoml
torchvision
torch
joblib
tqdm
pip-chill
wincertstore
matplotlib
seaborn
scikit-learn
ipykernel
numpy
pandas
fastapi
uvicorn
opencv-python-headless
optuna
plotly
mlflow
nbformat
ipywidgets
streamlit
reportlab
celery
redis
torchao
-e .

